{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- about -->
<!--  workvideo -->
<section>
  <div class="container workvideo-container mb-4">
    <div class="row mb-2">
      <div class="col-lg-12 col-md-12 order-lg-1">
        <h2 class="my-2">Work<span class="text-primary">Days</span></h2>
        <div class="mb-2">
          <div class="d-flex">
            <h4 class="text-primary">The problem</h4>
          </div>
          <ul class="lead text-muted mb-0 pl-0" style="list-style: none; font-size: 1rem">
            <li>
              <span>[Farm worker shortage] due to a lack of overseas workers but many workers don't know which farms are looking for people</span>
            </li>
            <li>
              <span>A harvest season only lasts a few months -> workers have to find new jobs when it ends</span>
            </li>
            <li>
              <span>Farms with a different harvest season start to find workers</span>
            </li>
            <li>
              <span>All farms have to keep going through recruitment process every time a new fruit season starts</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="features-icons-icon d-flex">
            <h4 class="text-success">WorkDays is a solution for solving the issue of</h4>
          </div>
          <ul class="lead text-muted mb-0 pl-0" style="list-style: none; font-size: 1rem">
            <li>
              <span>Having to repeatedly go through the recruitment process every time a new season starts</span>
            </li>
            <li>
              <span>Having to repeatedly applying for new farm jobs every time a season ends</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-lg-12 col-md-12 order-lg-1">
        <h2 class="my-2"><i>Features</i></h2>
        <div class="mb-2">
          <div class="d-flex">
            <h4 class="text-primary">Farm owners</h4>
          </div>
          <ul class="lead text-muted mb-0 pl-0" style="list-style: none; font-size: 1rem">
            <li>
              <span>Request our system to provide them with a list of workers that fits their requirements</span>
            </li>
            <li>
              <span>Publish their farms'profiles for reviews and feedbacks from workers</span>
            </li>
            <li>
              <span>Manage workers and rosters directly on the system</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="features-icons-icon d-flex">
            <h4 class="text-success">Workers</h4>
          </div>
          <ul class="lead text-muted mb-0 pl-0" style="list-style: none; font-size: 1rem">
            <li>
              <span>Submit their experiences, skills and availabilities to the system for processing</span>
            </li>
            <li>
              <span>Receive reviews and feedbacks from employers after their contract ends</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="features-icons-icon d-flex">
            <h4 class="text-success">WorkDays</h4>
          </div>
          <ul class="lead text-muted mb-0 pl-0" style="list-style: none; font-size: 1rem">
            <li>
              <span>Automatically rank workers suitability for a farm based on workers' experiences, skills and feedbacks received</span>
            </li>
            <li>
              <span>Provide farms with the most suitable candidates</span>
            </li>
            <li>
              <span>Has the ability to call in extra workers should a farm needs (for example: in case of unexpected leaves, having extra tasks,...)</span>
            </li>
            <li>
              <span>Automatically process payroll on behalf of employers</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}