{% extends "base.html" %}
{% load static %}

{% block content %}

<link href="/static/css/howitworks.css" rel="stylesheet">

<!-- workhead -->
<header class="workhead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <div class="col-12 workhead-text">
          <h4><i><q>A dream does not become reality through magic; it takes sweat, determination, and hard work</q></i></h4>
          <p> - Colin Powell</p>
        </div>
      </div>
    </div>
  </div>
</header>

<!--  workvideo -->
<section>
  <div class="container workvideo-container">
    <div class="row">
      <div class="col-lg-6 col-md-12 order-lg-2" style="text-align: center;">
        <iframe style="width: 100%;height: 100%;"
        src="https://www.youtube.com/embed/zCBPLogQRi8" allowfullscreen>
        </iframe>
      </div>
      <div class="col-lg-6 col-md-12 order-lg-1">
        <div class="mb-4 mt-2">
          <div class="d-flex">
            <h4 class="text-primary">Farm owners</h4>
          </div>
          <ul class="lead text-muted mb-0 pl-0" style="list-style: none; font-size: 1rem">
            <li>
              <span>Request our system to provide them with a list of workers that fits their requirements</span>
            </li>
            <li>
              <span>Publish their farms'profiles for reviews and feedbacks from workers</span>
            </li>
            <li>
              <span>Manage workers and rosters directly on the system</span>
            </li>
          </ul>
        </div>
        <div>
          <div class="features-icons-icon d-flex">
            <h4 class="text-success">Workers</h4>
          </div>
          <ul class="lead text-muted mb-0 pl-0" style="list-style: none; font-size: 1rem">
            <li>
              <span>Submit their experiences, skills and availabilities to the system for processing</span>
            </li>
            <li>
              <span>Receive reviews and feedbacks from employers after their contract ends</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}