{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content" style="padding: 5% 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="#" class="list-group-item list-group-item-action active">Basic Info</a>
                    <a href="#" class="list-group-item list-group-item-action">Work Experience</a>
                    <a href="#" class="list-group-item list-group-item-action">Certificates</a>
                    <a href="#" class="list-group-item list-group-item-action">Enquiry</a>
                    <a href="#" class="list-group-item list-group-item-action">Roster</a>
                    <a href="#" class="list-group-item list-group-item-action">Availabiliy</a>
                    <a href="#" class="list-group-item list-group-item-action">Reports</a>
                    <a href="#" class="list-group-item list-group-item-action">Settings</a>
                    

                </div>
            </div>
            <div class="col-md-9">
                <h3>Minh Khoi Nguyen</h3>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Your Profile</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form onsubmit="return false;">
                                    <div class="form-group row">
                                        <label for="username" class="col-4 col-form-label">User Name*</label>
                                        <div class="col-8">
                                            <input id="username" name="username" placeholder="Username"
                                                class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">First Name*</label>
                                        <div class="col-8">
                                            <input id="name" name="name" placeholder="First Name"
                                                class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lastname" class="col-4 col-form-label">Last Name*</label>
                                        <div class="col-8">
                                            <input id="lastname" name="lastname" placeholder="Last Name"
                                                class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="select" class="col-4 col-form-label">Rate per hour</label>
                                        <div class="col-8">
                                            <input id="number" name="number" placeholder="Rate per hour"
                                                class="form-control here" type="number">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-4 col-form-label">Email*</label>
                                        <div class="col-8">
                                            <input id="email" name="email" placeholder="Email" class="form-control here"
                                             type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="website" class="col-4 col-form-label">Website</label>
                                        <div class="col-8">
                                            <input id="website" name="website" placeholder="website"
                                                class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="publicinfo" class="col-4 col-form-label">Professional Summary</label>
                                        <div class="col-8">
                                            <textarea id="publicinfo" name="publicinfo" cols="40" rows="4"
                                                class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="newpass" class="col-4 col-form-label">New Password</label>
                                        <div class="col-8">
                                            <input id="newpass" name="newpass" placeholder="New Password"
                                                class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button name="submit" type="submit" class="btn btn-primary">Update My
                                                Profile</button>
                                            <button id="publish" class="btn btn-info">Submit My
                                                Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     openWorkerPublic = () => {
        window.location = '/workerpublic';
    }
    var publishBtn = document.getElementById("publish");
    publishBtn.addEventListener("click", openWorkerPublic, false);
   
</script>
{% endblock %}