header.workhead {
  position: relative;
  background-color: #343a40;
  background: url("../img/workhead.jpg") no-repeat center center;
  background-size: cover;
  height: 30rem;
}

header.workhead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media (max-device-width: 600px) {
  header.workhead {
    height: 15rem;
  }
  .workvideo-container {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .workhead-text {
    margin-top: 4rem !important;
  }
}

.workhead-text {
  margin-top: 10rem;
}

.workvideo-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}